# --< Python >--
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.env
venv/
env/

# --< SQLite database >--
instance/
*.db

# --< IDE >--
.vscode/
.idea/
*.swp
*.swo

# --< OS >--
.DS_Store
Thumbs.db
desktop.ini

# --< Node (from previous project) >--
node_modules/
dist/
dist_electron/
package-lock.json
*.tsbuildinfo
